
// colour variables
$main-background-colour: #f6f6f6;
$white: white;
$black: black;
$button-blue: #4891e5;
$button-hover-blue: #2b5687;

// device variables
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$larger-screens: 1200px;